<mat-toolbar>
  <button mat-button routerLink="dashboard">Dashboard</button>
  <button mat-button [matMenuTriggerFor]="books_menu">Books</button>

  <button mat-button [matMenuTriggerFor]="transaction_menu">Transactions</button>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="api_menu"><mat-icon fontIcon="arrow_drop_down"></mat-icon>{{selected_api}}</button>
</mat-toolbar>

<mat-menu #books_menu="matMenu">
  <button mat-menu-item routerLink="books/manage">Manage</button>
  <button mat-menu-item routerLink="books/create">Add Book</button>
</mat-menu>
<mat-menu #transaction_menu="matMenu">
  <button mat-menu-item routerLink="transactions/manage">Manage Transactions</button>
  <button mat-menu-item routerLink="transactions/create">
    Check out books
  </button>
</mat-menu>
<mat-menu #api_menu="matMenu">
  <button mat-menu-item (click)="selectApi('NodeJS')">NodeJS</button>
  <button mat-menu-item (click)="selectApi('DotNet')">DotNet</button>
</mat-menu>
<router-outlet></router-outlet>
