<mat-toolbar style="height: 10%">
  <button mat-button [matMenuTriggerFor]="books_menu">Books</button>

  <button mat-button [matMenuTriggerFor]="transaction_menu">Transactions</button>
</mat-toolbar>

<mat-menu #books_menu="matMenu">
  <button mat-menu-item routerLink="books/manage">Manage</button>
  <button mat-menu-item routerLink="books/create">Add Book</button>
</mat-menu>
<mat-menu #transaction_menu="matMenu">
  <button mat-menu-item routerLink="transactions/manage">Manage Transactions</button>
  <button mat-menu-item routerLink="transactions/create">
    Check out books
  </button>
</mat-menu>
<router-outlet></router-outlet>
